<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/icons/favicon.png}">
  <title>403 - Forbidden</title>
  <!-- Bootstrap Core CSS -->
  <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}" />

  <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">

  <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">

  <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">

  <link rel="stylesheet" type="text/css" th:href="@{/fonts/linearicons-v1.0.0/icon-font.min.css}">

  <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">

  <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">

  <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">

  <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">

  <link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">

  <link rel="stylesheet" type="text/css" th:href="@{/vendor/slick/slick.css}">

  <link rel="stylesheet" type="text/css" th:href="@{/vendor/MagnificPopup/magnific-popup.css}">

  <link rel="stylesheet" type="text/css" th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}">

  <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<!-- Preloader -->
<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>
<section id="wrapper" class="error-page">
  <div class="error-box">
    <div class="error-body text-center">
      <h1>403</h1>
      <h3 class="text-uppercase">Bạn không có quyền truy cập !</h3>
      <p class="text-muted m-t-30 m-b-30">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
      <a th:href="@{/index}"
         class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Về trang chủ</a>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <footer class="bg3 p-t-75 p-b-32">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3 p-b-50">
          <h4 class="stext-301 cl0 p-b-30">
            Categories
          </h4>
          <ul>
            <li class="p-b-10">
              <a th:href="@{/#}" class="stext-107 cl7 hov-cl1 trans-04">
                Women
              </a>
            </li>
            <li class="p-b-10">
              <a th:href="@{/#}" class="stext-107 cl7 hov-cl1 trans-04">
                Men
              </a>
            </li>
            <li class="p-b-10">
              <a th:href="@{/#}" class="stext-107 cl7 hov-cl1 trans-04">
                Shoes
              </a>
            </li>
            <li class="p-b-10">
              <a th:href="@{/#}" class="stext-107 cl7 hov-cl1 trans-04">
                Watches
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 p-b-50">
          <h4 class="stext-301 cl0 p-b-30">
            Help
          </h4>
          <ul>
            <li class="p-b-10">
              <a th:href="@{/#}" class="stext-107 cl7 hov-cl1 trans-04">
                Track Order
              </a>
            </li>
            <li class="p-b-10">
              <a th:href="@{/#}" class="stext-107 cl7 hov-cl1 trans-04">
                Returns
              </a>
            </li>
            <li class="p-b-10">
              <a th:href="@{/#}" class="stext-107 cl7 hov-cl1 trans-04">
                Shipping
              </a>
            </li>
            <li class="p-b-10">
              <a th:href="@{/#}" class="stext-107 cl7 hov-cl1 trans-04">
                FAQs
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 p-b-50">
          <h4 class="stext-301 cl0 p-b-30">
            GET IN TOUCH
          </h4>
          <p class="stext-107 cl7 size-201">
            Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
          </p>
          <div class="p-t-27">
            <a th:href="@{/#}" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
              <i class="fa fa-facebook"></i>
            </a>
            <a th:href="@{/#}" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
              <i class="fa fa-instagram"></i>
            </a>
            <a th:href="@{/#}" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
              <i class="fa fa-pinterest-p"></i>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 p-b-50">
          <h4 class="stext-301 cl0 p-b-30">
            Newsletter
          </h4>
          <form>
            <div class="wrap-input1 w-full p-b-4">
              <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
              <div class="focus-input1 trans-04"></div>
            </div>
            <div class="p-t-18">
              <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                Subscribe
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="p-t-40">
        <div class="flex-c-m flex-w p-b-18">
          <a th:href="@{/#}" class="m-all-1">
            <img th:src="@{/images/icons/icon-pay-01.png}" alt="ICON-PAY">
          </a>
          <a th:href="@{/#}" class="m-all-1">
            <img th:src="@{/images/icons/icon-pay-02.png}" alt="ICON-PAY">
          </a>
          <a th:href="@{/#}" class="m-all-1">
            <img th:src="@{/images/icons/icon-pay-03.png}" alt="ICON-PAY">
          </a>
          <a th:href="@{/#}" class="m-all-1">
            <img th:src="@{/images/icons/icon-pay-04.png}" alt="ICON-PAY">
          </a>
          <a th:href="@{/#}" class="m-all-1">
            <img th:src="@{/images/icons/icon-pay-05.png}" alt="ICON-PAY">
          </a>
        </div>
        <p class="stext-107 cl6 txt-center">

          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>

        </p>
      </div>
    </div>
  </footer>

</section>
<!-- jQuery -->
<script src="plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
    </script>
</body>

</html>
